/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

.form {
  margin: 0 auto;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 32px;
}
input[type='text'] {
  padding-left: 16px;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  outline: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background-color: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

input[type='text']::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

input[type='text']:hover {
  border-color: #000000;
}

input[type='text']:focus {
  border-color: #4e75ff;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.gallery-item {
  border: 1px solid #808080;
  width: 360px;
  height: 200px;
}

.gallery-image {
  object-fit: cover;
  width: 360px;
  height: 152px;
}

.image-info-list {
  display: flex;
  flex-direction: row;
  column-gap: 28px;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px;
}

.image-item {
  text-align: center;
}

.image-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.image-quantity {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #000000;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
